{% extends 'base.html' %}

{% block title %}
ALPR - Welcome
{% endblock %}

{% block style %}
    <!--begin::Additional Style-->
    <style>
        .imageIndex{
            background-image: url("{{ url_for('static', filename= 'media/illustrations/terms-2.png')}}");
            background-size: 85%;
        }
    </style>
    <!--end::Additional Style-->
{% endblock %}
{% block content %}
    <!--begin::Main-->
    <div class="d-flex flex-column flex-root">
        <!--begin::Authentication - Signup Welcome Message -->
        <div class="imageIndex d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed">
            <!--begin::Content-->
            <div class="d-flex flex-column flex-column-fluid text-center p-10 py-lg-20">
                <!--begin::Logo-->
                <a href="{{ url_for('index')}}" class="mb-10 pt-lg-20">
                    <img alt="Logo" src="{{ url_for('static', filename= 'media/logos/chip.svg')}}" class="h-75px mb-5" />
                </a>
                <!--end::Logo-->
                <!--begin::Wrapper-->
                <div class="pt-lg-10">
                    <!--begin::Logo-->
                    <h1 class="fw-bolder fs-2qx text-dark mb-7">Welcome to ALPR</h1>
                    <!--end::Logo-->
                    <!--begin::Message-->
                    <div class="fw-bold fs-3 text-gray-400 mb-15">Easy Way detect license plate using our API 
                    <br />you just need to focus on retrieving data</div>
                    <!--end::Message-->
                    <!--begin::Action-->
                    <div class="text-center">
                        <a href="{{ url_for('dashboard')}}" class="btn btn-lg btn-primary fw-bolder">Go to dashboard</a>
                    </div>
                    <!--end::Action-->
                </div>
                <!--end::Wrapper-->
            </div>
            <!--end::Content-->
        </div>
        <!--end::Authentication - Signup Welcome Message-->
    </div>
    <!--end::Main-->
{% endblock %}
