{% extends 'base.html' %}

{% block title %}
ALPR - Create Account
{% endblock %}

{% block content %}
  <!--begin::Main-->
  <div class="d-flex flex-column flex-root">
    <!--begin::Authentication - Sign-in -->
    <div class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed">
      <!--begin::Content-->
      <div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">
        <!--begin::Logo-->
        <a href="{{ url_for('index')}}" class="mb-12">
          <img alt="Logo" src="{{ url_for('static', filename= 'media/logos/chip.svg')}}" class="h-60px" />
        </a>
        <!--end::Logo-->
        <!--begin::Wrapper-->
        <div class="w-lg-500px bg-white rounded shadow-sm p-10 p-lg-15 mx-auto">
          <!--begin::Form-->
          <form class="form w-100" id="kt_sign_in_form">
            <!--begin::Heading-->
            <div class="text-center mb-8">
              <!--begin::Title-->
              <h1 class="text-dark mb-3">Sign In to ALPR</h1>
              <!--end::Title-->
              <!--begin::Link-->
              <div class="text-gray-400 fw-bold fs-4">New Here? 
              <a href="{{ url_for('signup')}}" class="link-primary fw-bolder">Create an Account</a></div>
              <!--end::Link-->
            </div>
            <!--begin::Heading-->
            <!--begin::Input group-->
            <div class="fv-row mb-8">
              <!--begin::Label-->
              <label class="form-label fs-6 fw-bolder text-dark">Email</label>
              <!--end::Label-->
              <!--begin::Input-->
              <input class="form-control form-control-lg form-control-solid" type="text" name="email" id="email" autocomplete="off" />
              <!--end::Input-->
            </div>
            <!--end::Input group-->
            <!--begin::Input group-->
            <div class="fv-row mb-10">
              <!--begin::Wrapper-->
              <div class="d-flex flex-stack mb-2">
                <!--begin::Label-->
                <label class="form-label fw-bolder text-dark fs-6 mb-0">Password</label>
                <!--end::Label-->
              </div>
              <!--end::Wrapper-->
              <!--begin::Input-->
              <input class="form-control form-control-lg form-control-solid" type="password" name="password" id="password" autocomplete="off" />
              <!--end::Input-->
            </div>
            <!--end::Input group-->
            <!--begin::Actions-->
            <div class="text-center">
              <!--begin::Submit button-->
              <button type="submit" id="kt_sign_in_submit" class="btn btn-lg btn-primary w-100 mb-5">
                <span class="indicator-label">Continue</span>
                <span class="indicator-progress">Please wait... 
                <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
              </button>
              <!--end::Submit button-->
            </div>
            <!--end::Actions-->
          </form>
          <!--end::Form-->
        </div>
        <!--end::Wrapper-->
      </div>
      <!--end::Content-->
    </div>
    <!--end::Authentication - Sign-in-->
  </div>
  <!--end::Main-->
{% endblock %}

{% block script %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
  <script>
      $().ready(function() {
        $('#kt_sign_in_form').validate({
          rules : {
              email : {
                required: true,
                email: true
              },
              password : {
                required: true,
              },
          }
        });
      })

      $("#kt_sign_in_submit").click(function(e){
         e.preventDefault();
          if($("#kt_sign_in_form").valid()) {
          $.ajax({
              url: '{{url_for("login")}}',
              type: 'post',
              data:  $("#kt_sign_in_form").serialize(),             
              success: function(response, status, xhr, $form) {
                if(response.status == 1){
                  toastr.success(response.message);
                  location.href = "{{url_for('dashboard')}}"
                }else{
                  toastr.error(response.message);
                }             
              }
          });
        }
     })
  </script>
{% endblock %}